@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
       <AuthorizeView Roles="Admin">
        <Authorized>
            <p class="text-dark">You Are an admin Congratulations</p>
            <h1>Mabuhay</h1>
        </Authorized>
        <NotAuthorized>
            <p class="text-danger">You are not an Admin.</p>    
        </NotAuthorized>
    </AuthorizeView>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
